body {
    background: #808080;
    color: #6040bf60;
    display: flex;
    font: 16px 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

main {
    background: linear-gradient(165deg, #1a0066, #0d0033, #06001a);
    border-radius: 16px;
    border: 1px solid #4000ff;
    box-shadow: 4px 8px 16px #00000080;
    box-sizing: border-box;
    margin: auto;
    padding: 16px;
    width: 480px;
    height: 302px;
}

img {
    border-radius: 8px;
    border: 1px solid #4000ff;
    float: right;
    height: 128px;
    transform: none;
    transition: transform 200ms;
    user-select: none;
    width: 128px;
}

img:hover {
    transform: scale(1.5, 1.5) rotate(5deg) translate(24px, -24px);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 16px;
}

a {
    color: #7598ff;
    font: 16px 'Architects Daughter', sans-serif;
    text-decoration: none;
    transition: color 200ms;
}

a:hover {
    color: #00ffbf;
}

a:active {
    color: #4000ff;
}

.key {
    color: #bf7aff;
    font: bold 16px 'Ubuntu Mono', monospace;
}

.value {
    color: #00ffbf;
    font: 16px 'Architects Daughter', sans-serif;
}

::selection {
    background: #00ffbf40;
}

a::selection, .key::selection, .value::selection {
    background: #00ffbf;
    color: #4000ff;
}