html {
    background-color: #808080;
    height: 100%;
}

body {
    color: #808080;
    display: flex;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
}

main {
    background-color: #212040;
    border-radius: 8px;
    border: 1px solid #0e00ff;
    box-shadow: 4px 8px 24px #404040;
    margin: auto;
    padding: 16px;
    width: 440px;
}

img {
    border-radius: 8px;
    border: 1px solid #0e00ff;
    float: right;
    user-select: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}

a {
    color: #00b1ff;
}

a:active {
    color: #0e00ff;
}

.key {
    color: #bf80ff;
}

.value {
    color: #5aff91;
}

::selection {
    background: #0e00ff;
}